@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300;600;700&family=Roboto:wght@300;400;500;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.questionnaire-link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: rgba(54, 97, 235, 0.74);
  /* margin-left: 0.5%; */
}

.questionnaire-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #5c5c5c;
  margin-top: 2%;
}

.questionnaire-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #5c5c5c;
}

.questionaire-create-btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  position: absolute;
  width: 238px;
  height: 44px;
  border: none;
  background: linear-gradient(90.39deg, #3661eb 3.6%, #3661eb 98.93%), #79a1de;
  border-radius: 4px;
  text-transform: capitalize;
  color: #ffffff;
}

.questionnaire-btn-menu
  .css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  width: 238px;
}

.questionnaire-btn-menu .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  font-size: 1.5rem !important;
}

.questionnaire-head-end {
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
}

.questionnaire-arrow {
  margin-left: 3%;
}

.question-card-container {
  margin-top: 3%;
}

.questionnaire-card-heading {
  margin-top: 7%;
  font-family: "Poppins";
  font-style: normal;
  /* font-weight: 600; */
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #303030;
  text-align: center;
}

.question-card-body {
  margin-top: 2%;
  background-color: #ffffff;
  border-radius: 10px;
  width: 100%;
  height: 70px;
}

.admin-card {
  width: 100%;
  height: 281.39px;
  background: #ffffff;
  border: 1.15599px solid #f2f2f2;
  box-shadow: 0px 23.1199px 34.6798px rgba(167, 209, 233, 0.07);
  border-radius: 11.5599px;
}

.heading-body {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  margin-top: 3%;
}

.card-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: #5c5c5c;
  margin-top: 5%;
}

.card-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
}

.cardBtn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  width: 130.12px;
  height: 49.75px;
  background: linear-gradient(90.39deg, #3661eb 3.6%, #3661eb 98.93%), #79a1de;
  border-radius: 5.91575px;
  border: none;
}

.img-body {
  display: flex;
  justify-content: center;
  margin-top: 8%;
}

.card-img {
  height: 48px;
  width: 50px;
}

.questionnaire-row-buttons {
  margin-top: 4%;
  margin-right: 3%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.questionnaire-edit {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #303030;
  width: 80px;
}

.questionnaire-delete {
  margin-left: 2%;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #303030;
  width: 80px;
}

.questionaire-back-btn {
  margin-top: 5%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  position: absolute;
  width: 238px;
  height: 44px;
  border: none;
  background: linear-gradient(90.39deg, #3661eb 3.6%, #3661eb 98.93%), #79a1de;
  border-radius: 4px;
  text-transform: capitalize;
  color: #ffffff;
}

.react-form-builder .react-form-builder-preview {
  float: right !important;
  border: none !important;
  box-shadow: none !important;
}

.react-form-builder .react-form-builder-toolbar {
  float: left !important;
  /* overflow-y: scroll !important; */
  height: 100vh !important;
}

.react-form-builder
  .react-form-builder-preview
  .Sortable
  .rfb-item.SortableItem {
  border: 1px dashed black;
  margin: 10px !important;
}

.react-form-builder .react-form-builder-toolbar h4 {
  display: none !important;
}

.react-form-builder .react-form-builder-toolbar ul li {
  display: flex !important;
  /* justify-content: center !important; */
  align-items: center !important;
  font-size: 16px !important;
  border: 1px dashed #b2b2b2 !important;
  height: 70px !important;
}

.react-form-builder .react-form-builder-toolbar ul li i {
  font-size: 16px !important;
}

.questionnaire-btn {
  border-radius: 3px;
  border: 1px solid #6c6c6c;
  width: 100%;
  height: 40px;
  background-color: white;
}

.allQuestionnaire-grid .css-1j9kmqg-MuiDataGrid-toolbarContainer {
  float: right !important;
}

.react-form-builder-form {
  display: flex !important;
  /* align-items: center !important; */
  justify-content: center !important;
  height: 400px;
  overflow-y: scroll !important;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 2%;
}

.customWhiteBtn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
  color: #3661eb;
  width: 150px;
  height: 35px;
  border: 2px solid #3661eb;
  border-radius: 8px;
  background-color: #ffffff;
}

.customBlueBtn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
  color: #ffffff;
  width: 100px;
  height: 35px;
  border: 2px solid #3661eb;
  border-radius: 8px;
  background-color: #3661eb;
  margin-right: 3%;
}

.customBlueSaveBtn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
  color: #ffffff;
  width: 100%;
  height: 44px;
  border: 2px solid #3661eb;
  border-radius: 8px;
  background-color: #3661eb;
}

.customBlueFormSaveBtn {
  width: 120px;
  height: 50px;
  background: linear-gradient(90.39deg, #3661eb 3.6%, #3661eb 98.93%), #79a1de;
  border-radius: 3.67421px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  border: none;
}

.customWhiteFormBtn {
  width: 120px;
  height: 50px;
  background: #ffffff;
  border-radius: 3.67421px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  text-align: center;
  color: #3661eb;
  border: #3661eb 1px solid;
}

.customWhiteFormBtn:hover {
  width: 120px;
  height: 50px;
  background: #3661eb;
  border-radius: 3.67421px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  text-align: center;
  color: #fff;
  border: #3661eb 1px solid;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  font-size: 1.5rem !important;
  color: black;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 100% !important;
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  width: 100% !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
  font-size: 1.2rem !important;
  min-height: 0px !important;
}

.btn-toolbar {
  display: flex;
  align-items: center;
  justify-content: left;
}

.modal-dialog .modal-lg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.MuiDataGrid-panel {
  transform: translate3d(1000px, 392px, 0px) !important;
}

.previewContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #eee;
  border-radius: 10px;
  width: 100%;
  padding: 4%;
  /* padding-top: 6%; */
  margin: 0 auto;
  transition-property: width;
  transition-duration: 0.2s, 1s;
  transition-timing-function: linear, ease-in;
  transition-delay: 0s, 1s;
}

.previewContainerTablet {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #eee;
  border-radius: 10px;
  width: 80%;
  padding: 4%;
  margin: 0 auto;
}

.previewContainerTab {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #eee;
  width: 910px;
  padding: 4%;
  /* padding-top: 6%; */
  margin: 0 auto;
  transition-property: width;
  transition-duration: 0.2s, 1s;
  transition-timing-function: linear, ease-in;
  transition-delay: 0s, 1s;
}

.previewBorder {
  margin-top: 20px;
  border: 1px solid #5a5a5a;
  border-radius: 5px;
  width: 100%;
  transition-property: width;
  transition-duration: 0.2s, 1s;
  transition-timing-function: linear, ease-in;
  transition-delay: 0s, 1s;
}

.previewBorder .react-form-builder-form .rfb-item {
  width: 1000px !important;
}

.previewBorder .ageRangeInputBody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
}

.previewBorderTab {
  margin-top: 20px;
  border: 1px solid #5a5a5a;
  border-radius: 50px;
  padding: 8px;
  transition-property: width;
  transition-duration: 0.2s, 1s;
  transition-timing-function: linear, ease-in;
  transition-delay: 0s, 1s;
}

.previewBorderTab .react-form-builder-form .rfb-item {
  width: 500px !important;
}
.previewBorderTab .ageRangeInputBody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.previewNameHeading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #5c5c5c;
  display: flex;
  justify-content: left;
  align-items: center;
}

.previewCloseBody {
  display: flex;
  justify-content: right;
  align-items: center;
}

.previewPages {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #5c5c5c;
  display: flex;
  justify-content: left;
  align-items: center;
}

.previewBackBtn {
  width: 120px;
  height: 50px;
  background: linear-gradient(90.39deg, #3661eb 3.6%, #3661eb 98.93%), #79a1de;
  border-radius: 3.67421px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  border: none;
}

.previewBackBtnDisabled {
  width: 120px;
  height: 50px;
  background: linear-gradient(0deg, #90a4e2, #90a4e2), #79a1de;
  border-radius: 3.67421px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  border: none;
}

.previewNextBtn {
  width: 120px;
  height: 50px;
  background: linear-gradient(90.39deg, #3661eb 3.6%, #3661eb 98.93%), #79a1de;
  border-radius: 3.67421px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  border: none;
}

.previewNextDisabled {
  width: 120px;
  height: 50px;
  background: linear-gradient(0deg, #90a4e2, #90a4e2), #79a1de;
  border-radius: 3.67421px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  border: none;
}

.previewCloseBtn {
  width: 120px;
  height: 50px;
  background: #ffffff;
  border-radius: 3.67421px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  text-align: center;
  color: #3661eb;
  border: #3661eb 1px solid;
}

.previewCloseBtn:hover {
  width: 120px;
  height: 50px;
  background: #3661eb;
  border-radius: 3.67421px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  text-align: center;
  color: #fff;
  border: #3661eb 1px solid;
}

.react-form-builder-form .rfb-item {
  font-size: 18px !important;
}

.react-form-builder-form .rfb-item .form-label {
  font-family: "Poppins" !important;
  font-style: normal !important;
  font-weight: 600 !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  font-size: 1.5rem !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  width: 300px !important;
}

.react-form-builder
  .react-form-builder-preview
  .Sortable
  .rfb-item
  .toolbar-header {
  z-index: 0 !important;
}

.react-form-builder-form {
  z-index: 999 !important;
}

.previewContainer {
  z-index: 999 !important;
}

.previewNameContianer {
  z-index: 999 !important;
}

.btn-toolbar {
  padding-bottom: 1% !important;
  padding-bottom: 3% !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  width: 20px;
  height: 20px;
  border-width: thin;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  margin-right: 2%;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

.css-i4bv87-MuiSvgIcon-root {
  height: 2em !important;
  width: 2em !important;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  width: 20px;
  height: 20px;
  border-width: thin;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  margin-right: 2%;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  width: 20px;
  height: 20px;
  border-width: thin;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  margin-right: 2%;
}

.previewOptions {
  /* margin-top: 2%; */
  margin-bottom: 2%;
  /* display: flex; */
  align-items: center;
}

.previewDivider {
  width: 100%;
  background-color: #eee;
  height: 2px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.iconContianer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.iconContianer > p {
  font-size: 1.3rem;
  font-weight: 600;
}

.uploadAfterBody {
  margin: 0 auto;
}

.uploadImgAfter {
  width: 250px;
  height: 150px;
  /* margin-left: 2%; */
  /* border-radius: 50%; */
}

.react-form-builder-form .rfb-item .form-group {
  margin-bottom: 15px;
  display: flex !important;
  /* flex-direction: row-reverse; */
  /* gap: 50px; */
  align-items: center !important;
  justify-content: left !important;
}

.react-form-builder-form .rfb-item .form-label {
  width: 180px !important;
  font-weight: 600 !important;
  text-align: left !important;
  /* margin-right: 1% !important;
  font-size: 1.5rem !important;
  width: 30% !important; */
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  width: 330px !important;
}

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
  width: 328px !important;
}

@media (min-width: 1500px) {
  .react-form-builder-form .rfb-item {
    width: 1000px !important;
  }
  .ageRangeInputBody {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
  }
}

/* @media (max-width: 1500px) {
  .react-form-builder-form .rfb-item {
    width: 500px !important;
  }
  .ageRangeInputBody {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
  }
} */

.backButton {
  width: 120px;
  height: 50px;
  background: linear-gradient(90.39deg, #3661eb 3.6%, #3661eb 98.93%), #79a1de;
  border-radius: 3.67421px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  border: none;
}

.nameField {
  width: 100%;
  height: 50px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  padding-left: 3%;
  margin-top: 0.5%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  color: #858585;
}

.pageBreakContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 5px; */
  width: 70%;
  padding: 20px;
  /* border-top: 5px solid rgb(213 213 213); */
  /* border: 1px dashed black; */
}

.pageBreakContainer > h5 {
  font-weight: 600;
}

.previewButtonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.css-72ik4y-MuiInputBase-root-MuiOutlinedInput-root {
  width: 330px !important;
}

.leaveSiteText {
  height: 150px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 500px;
}

.navigateText1Body {
  display: flex;
  align-items: top;
  justify-content: left;
  font-size: 16px;
}

.navigateText2Body {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 15px;
  margin-top: 2%;
}

.navigateTextButton {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 5%;
  gap: 10px;
}

.navigateConfirmBtn {
  width: 100px;
  height: 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 30px;
  color: #ffffff;
  /* width: 200.21px;
  height: 49px; */
  background: linear-gradient(90.39deg, #3661eb 3.6%, #3661eb 98.93%), #75e76b;
  border-radius: 5px;
  border: none;
}

.navigateNoBtn {
  width: 100px;
  height: 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 30px;
  color: #3661eb;
  /* width: 200.21px;
  height: 49px; */
  /* background: linear-gradient(90.39deg, #3661eb 3.6%, #3661eb 98.93%), #75e76b; */
  background: #ffffff;
  border-radius: 5px;
  border: none;
  border: 1px solid #3661eb;
}

.react-form-builder-form .rfb-item.alwaysbreak {
  width: 100% !important;
  height: 5px !important;
  background-color: #e1e1e1 !important;
}
